.menuContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.topRibbon {
  background-color: #C73E1D;
  color: #f1e0c5;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  position: relative;
}

.name {
  font-size: 1.8em;
  margin: 10px 0 5px 10px;
  position: relative;
  text-align: left;
  flex-grow: 1;
}

.desc {
  font-size: 0.75em;
}

.linkContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  text-align: right;
  align-self: flex-end;
  margin: 0 5px 5px 15px;
  flex-grow: 1;
}

a {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 5px 0 5px;
  text-decoration: none;
}